include README.md
recursive-include octoprint_ManualProbeAssistant/templates *
recursive-include octoprint_ManualProbeAssistant/translations *
recursive-include octoprint_ManualProbeAssistant/static *
