include README.md
recursive-include OctoPrint_ManualProbeAssistant/templates *
recursive-include OctoPrint_ManualProbeAssistant/translations *
recursive-include OctoPrint_ManualProbeAssistant/static *
