<div>
    <button data-bind="click: getSettings">{{ _('Get Setting') }}</button>

    Current Settings:<br />
    Delta Arm Length: <input type="text" data-bind="textInput: delta_l" /> <br />
    Delta Radius: <input type="text" data-bind="textInput: delta_r" /> <br />
    Delta Max Height: <input type="text" data-bind="textInput: delta_z" /> <br />
    <p/>
    Trim X: <input type="text" class="form-control" data-bind="textInput: trim_x" /> <br />
    Trim Y: <input type="text" data-bind="textInput: trim_y" /> <br />
    Trim Z: <input type="text" data-bind="textInput: trim_z" /> <br />
</div>
